[submodule "services/control/analysis/deep_sort"]
	path = services/control/analysis/deep_sort
	url = https://github.com/qriwty/deep_sort
[submodule "services/control/communication/mavlink"]
	path = services/control/communication/mavlink
	url = https://github.com/qriwty/mavlink
[submodule "services/control/idcs"]
	path = services/control/idcs
	url = https://github.com/qriwty/idcs
[submodule "services/simulation"]
	path = services/simulation
	url = https://github.com/qriwty/simulation
