<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script>
        function fetchData() {
            fetch('/dashboard/get-analysis')
                .then(response => {
                    if (response.status === 401) {
                        window.location.href = '/auth/login';
                        return;
                    }
                    return response.json();
                })
                .then(data => {
                    if (data && data.image_data) {
                        document.getElementById('image').src = 'data:image/png;base64,' + data.image_data;
                    }
                    if (data && data.detections) {
                        const detectionsList = document.getElementById('detections-list');
                        detectionsList.innerHTML = '';

                        data.detections.forEach(detection => {
                            const li = document.createElement('li');
                            li.innerHTML = `Track ID: ${detection.track_id}, Class: ${detection.class_id}, Location: (${detection.location[0]}, ${detection.location[1]}, ${detection.location[2]})`;
                            detectionsList.appendChild(li);
                        });
                    }
                    if (data && data.snapshots) {
                        const snapshotsList = document.getElementById('snapshots-list');
                        snapshotsList.innerHTML = '';

                        data.snapshots.forEach(snapshot => {
                            const li = document.createElement('li');
                            li.innerHTML = `Timestamp: ${snapshot.timestamp}, Location: (${snapshot.latitude}, ${snapshot.longitude}, ${snapshot.altitude})`;
                            snapshotsList.appendChild(li);
                        });
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        setInterval(fetchData, 1000 / 5);

        window.onload = fetchData;
    </script>
    <script>
        function startNewFlight() {
            fetch('/dashboard/start-flight', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('flight-info').innerText = 'Current Flight ID: ' + data.flight_id;
            })
            .catch(error => console.error('Error starting new flight:', error));
        }
        function stopCurrentFlight() {
            fetch('/dashboard/stop-flight', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    document.getElementById('flight-info').innerText = data.message;
                }
            })
            .catch(error => console.error('Error stopping flight:', error));
        }
    </script>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <img id="image" alt="Drone Image" />
    </div>

    <div id="results">
        <h2>Detections</h2>
        <ul id="detections-list"></ul>
        <h2>Flight Snapshots</h2>
        <ul id="snapshots-list" style="max-height: 200px; overflow-y: scroll;"></ul>
    </div>

    <div class="flight_control">
        <button onclick="startNewFlight()">Start New Flight</button>
        <button onclick="stopCurrentFlight()">Stop Current Flight</button>
        <div id="flight-info"></div>
    </div>

    <nav>
        <ul>
            <li><a href="{{ url_for('profile_bp.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('navigation_bp.navigation') }}">Navigation</a></li>
            <li><a href="{{ url_for('settings_bp.settings') }}">Settings</a></li>
        </ul>
    </nav>
</body>
</html>
